/* Terra Nova — icônes Phosphor 2.1.1 (licence MIT) réduites aux 233 icônes utilisées. Fichier produit par tools/icones.js : ne pas modifier à la main. */
@font-face{font-family:"Phosphor";src:url("https://unpkg.com/@phosphor-icons/web@2.1.1/src/regular/Phosphor.woff2") format("woff2"),url("https://unpkg.com/@phosphor-icons/web@2.1.1/src/regular/Phosphor.woff") format("woff");font-weight:normal;font-style:normal;font-display:block}
@font-face{font-family:"Phosphor-Duotone";src:url("https://unpkg.com/@phosphor-icons/web@2.1.1/src/duotone/Phosphor-Duotone.woff2") format("woff2"),url("https://unpkg.com/@phosphor-icons/web@2.1.1/src/duotone/Phosphor-Duotone.woff") format("woff");font-weight:normal;font-style:normal;font-display:block}
.ph,.ph-duotone{display:inline-block;width:1em;text-align:center;speak:never;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;letter-spacing:0;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.ph{font-family:"Phosphor"!important}
.ph-duotone{font-family:"Phosphor-Duotone"!important}
html.leger .ph-duotone,html.essentiel-dabord .ph-duotone{font-family:"Phosphor"!important}
html.leger .ph-duotone:before,html.essentiel-dabord .ph-duotone:before{opacity:1!important}
html.leger .ph-duotone:after,html.essentiel-dabord .ph-duotone:after{content:none!important}
.ph.ph-archive:before{content:"\e00c"}
.ph-duotone.ph-archive:before{content:"\e00c";opacity:.2}.ph-duotone.ph-archive:after{content:"\e00d";margin-inline-start:-1em}
.ph.ph-arrow-clockwise:before{content:"\e036"}
.ph-duotone.ph-arrow-clockwise:before{content:"\e036";opacity:.2}.ph-duotone.ph-arrow-clockwise:after{content:"\e037";margin-inline-start:-1em}
.ph.ph-arrow-left:before{content:"\e058"}
.ph-duotone.ph-arrow-left:before{content:"\e058";opacity:.2}.ph-duotone.ph-arrow-left:after{content:"\e059";margin-inline-start:-1em}
.ph.ph-arrow-right:before{content:"\e06c"}
.ph-duotone.ph-arrow-right:before{content:"\e06c";opacity:.2}.ph-duotone.ph-arrow-right:after{content:"\e06d";margin-inline-start:-1em}
.ph.ph-arrow-square-out:before{content:"\e5de"}
.ph-duotone.ph-arrow-square-out:before{content:"\e5de";opacity:.2}.ph-duotone.ph-arrow-square-out:after{content:"\e5df";margin-inline-start:-1em}
.ph.ph-arrow-u-up-left:before{content:"\e08a"}
.ph-duotone.ph-arrow-u-up-left:before{content:"\e08a";opacity:.2}.ph-duotone.ph-arrow-u-up-left:after{content:"\e08b";margin-inline-start:-1em}
.ph.ph-arrows-clockwise:before{content:"\e094"}
.ph-duotone.ph-arrows-clockwise:before{content:"\e094";opacity:.2}.ph-duotone.ph-arrows-clockwise:after{content:"\e095";margin-inline-start:-1em}
.ph.ph-arrows-down-up:before{content:"\e098"}
.ph-duotone.ph-arrows-down-up:before{content:"\e098";opacity:.2}.ph-duotone.ph-arrows-down-up:after{content:"\e099";margin-inline-start:-1em}
.ph.ph-arrows-in-line-vertical:before{content:"\e532"}
.ph-duotone.ph-arrows-in-line-vertical:before{content:"\e532";opacity:.2}.ph-duotone.ph-arrows-in-line-vertical:after{content:"\e533";margin-inline-start:-1em}
.ph.ph-arrows-left-right:before{content:"\e0a0"}
.ph-duotone.ph-arrows-left-right:before{content:"\e0a0";opacity:.2}.ph-duotone.ph-arrows-left-right:after{content:"\e0a1";margin-inline-start:-1em}
.ph.ph-arrows-merge:before{content:"\ed3e"}
.ph-duotone.ph-arrows-merge:before{content:"\ed3e";opacity:.2}.ph-duotone.ph-arrows-merge:after{content:"\ed3f";margin-inline-start:-1em}
.ph.ph-article:before{content:"\e0a8"}
.ph-duotone.ph-article:before{content:"\e0a8";opacity:.2}.ph-duotone.ph-article:after{content:"\e0a9";margin-inline-start:-1em}
.ph.ph-baby:before{content:"\e774"}
.ph-duotone.ph-baby:before{content:"\e774";opacity:.2}.ph-duotone.ph-baby:after{content:"\e775";margin-inline-start:-1em}
.ph.ph-bank:before{content:"\e0b4"}
.ph-duotone.ph-bank:before{content:"\e0b4";opacity:.2}.ph-duotone.ph-bank:after{content:"\e0b5";margin-inline-start:-1em}
.ph.ph-basket:before{content:"\e964"}
.ph-duotone.ph-basket:before{content:"\e964";opacity:.2}.ph-duotone.ph-basket:after{content:"\e965";margin-inline-start:-1em}
.ph.ph-bell:before{content:"\e0ce"}
.ph-duotone.ph-bell:before{content:"\e0ce";opacity:.2}.ph-duotone.ph-bell:after{content:"\e0cf";margin-inline-start:-1em}
.ph.ph-bell-ringing:before{content:"\e5e8"}
.ph-duotone.ph-bell-ringing:before{content:"\e5e8";opacity:.2}.ph-duotone.ph-bell-ringing:after{content:"\e5e9";margin-inline-start:-1em}
.ph.ph-bell-simple:before{content:"\e0d0"}
.ph-duotone.ph-bell-simple:before{content:"\e0d0";opacity:.2}.ph-duotone.ph-bell-simple:after{content:"\e0d1";margin-inline-start:-1em}
.ph.ph-bell-slash:before{content:"\e0d4"}
.ph-duotone.ph-bell-slash:before{content:"\e0d4";opacity:.2}.ph-duotone.ph-bell-slash:after{content:"\e0d5";margin-inline-start:-1em}
.ph.ph-bicycle:before{content:"\e0d6"}
.ph-duotone.ph-bicycle:before{content:"\e0d6";opacity:.2}.ph-duotone.ph-bicycle:after{content:"\e0d7";margin-inline-start:-1em}
.ph.ph-binoculars:before{content:"\ea64"}
.ph-duotone.ph-binoculars:before{content:"\ea64";opacity:.2}.ph-duotone.ph-binoculars:after{content:"\ea65";margin-inline-start:-1em}
.ph.ph-book-open-text:before{content:"\e8f2"}
.ph-duotone.ph-book-open-text:before{content:"\e8f2";opacity:.2}.ph-duotone.ph-book-open-text:after{content:"\e8f3";margin-inline-start:-1em}
.ph.ph-bookmark-simple:before{content:"\e0ea"}
.ph-duotone.ph-bookmark-simple:before{content:"\e0ea";opacity:.2}.ph-duotone.ph-bookmark-simple:after{content:"\e0eb";margin-inline-start:-1em}
.ph.ph-books:before{content:"\e758"}
.ph-duotone.ph-books:before{content:"\e758";opacity:.2}.ph-duotone.ph-books:after{content:"\e759";margin-inline-start:-1em}
.ph.ph-brackets-curly:before{content:"\e860"}
.ph-duotone.ph-brackets-curly:before{content:"\e860";opacity:.2}.ph-duotone.ph-brackets-curly:after{content:"\e861";margin-inline-start:-1em}
.ph.ph-briefcase:before{content:"\e0ee"}
.ph-duotone.ph-briefcase:before{content:"\e0ee";opacity:.2}.ph-duotone.ph-briefcase:after{content:"\e0ef";margin-inline-start:-1em}
.ph.ph-broadcast:before{content:"\e0f2"}
.ph-duotone.ph-broadcast:before{content:"\e0f2";opacity:.2}.ph-duotone.ph-broadcast:after{content:"\e0f3";margin-inline-start:-1em}
.ph.ph-browser:before{content:"\e0f4"}
.ph-duotone.ph-browser:before{content:"\e0f4";opacity:.2}.ph-duotone.ph-browser:after{content:"\e0f5";margin-inline-start:-1em}
.ph.ph-buildings:before{content:"\e102"}
.ph-duotone.ph-buildings:before{content:"\e102";opacity:.2}.ph-duotone.ph-buildings:after{content:"\e105";margin-inline-start:-1em}
.ph.ph-bus:before{content:"\e106"}
.ph-duotone.ph-bus:before{content:"\e106";opacity:.2}.ph-duotone.ph-bus:after{content:"\e107";margin-inline-start:-1em}
.ph.ph-calendar:before{content:"\e108"}
.ph-duotone.ph-calendar:before{content:"\e108";opacity:.2}.ph-duotone.ph-calendar:after{content:"\e109";margin-inline-start:-1em}
.ph.ph-calendar-blank:before{content:"\e10a"}
.ph-duotone.ph-calendar-blank:before{content:"\e10a";opacity:.2}.ph-duotone.ph-calendar-blank:after{content:"\e10b";margin-inline-start:-1em}
.ph.ph-calendar-check:before{content:"\e712"}
.ph-duotone.ph-calendar-check:before{content:"\e712";opacity:.2}.ph-duotone.ph-calendar-check:after{content:"\e713";margin-inline-start:-1em}
.ph.ph-calendar-plus:before{content:"\e714"}
.ph-duotone.ph-calendar-plus:before{content:"\e714";opacity:.2}.ph-duotone.ph-calendar-plus:after{content:"\e715";margin-inline-start:-1em}
.ph.ph-caret-double-up:before{content:"\e12c"}
.ph-duotone.ph-caret-double-up:before{content:"\e12c";opacity:.2}.ph-duotone.ph-caret-double-up:after{content:"\e12d";margin-inline-start:-1em}
.ph.ph-caret-down:before{content:"\e136"}
.ph-duotone.ph-caret-down:before{content:"\e136";opacity:.2}.ph-duotone.ph-caret-down:after{content:"\e137";margin-inline-start:-1em}
.ph.ph-caret-right:before{content:"\e13a"}
.ph-duotone.ph-caret-right:before{content:"\e13a";opacity:.2}.ph-duotone.ph-caret-right:after{content:"\e13b";margin-inline-start:-1em}
.ph.ph-caret-up:before{content:"\e13c"}
.ph-duotone.ph-caret-up:before{content:"\e13c";opacity:.2}.ph-duotone.ph-caret-up:after{content:"\e13d";margin-inline-start:-1em}
.ph.ph-cell-signal-full:before{content:"\e142"}
.ph-duotone.ph-cell-signal-full:before{content:"\e142";opacity:.2}.ph-duotone.ph-cell-signal-full:after{content:"\e143";margin-inline-start:-1em}
.ph.ph-cell-signal-low:before{content:"\e146"}
.ph-duotone.ph-cell-signal-low:before{content:"\e146";opacity:.2}.ph-duotone.ph-cell-signal-low:after{content:"\e147";margin-inline-start:-1em}
.ph.ph-cell-signal-medium:before{content:"\e148"}
.ph-duotone.ph-cell-signal-medium:before{content:"\e148";opacity:.2}.ph-duotone.ph-cell-signal-medium:after{content:"\e149";margin-inline-start:-1em}
.ph.ph-chart-bar:before{content:"\e150"}
.ph-duotone.ph-chart-bar:before{content:"\e150";opacity:.2}.ph-duotone.ph-chart-bar:after{content:"\e151";margin-inline-start:-1em}
.ph.ph-chart-pie-slice:before{content:"\e15a"}
.ph-duotone.ph-chart-pie-slice:before{content:"\e15a";opacity:.2}.ph-duotone.ph-chart-pie-slice:after{content:"\e15b";margin-inline-start:-1em}
.ph.ph-chat-circle-slash:before{content:"\e16a"}
.ph-duotone.ph-chat-circle-slash:before{content:"\e16a";opacity:.2}.ph-duotone.ph-chat-circle-slash:after{content:"\e16b";margin-inline-start:-1em}
.ph.ph-chat-circle-text:before{content:"\e16e"}
.ph-duotone.ph-chat-circle-text:before{content:"\e16e";opacity:.2}.ph-duotone.ph-chat-circle-text:after{content:"\e16f";margin-inline-start:-1em}
.ph.ph-chats-circle:before{content:"\e17e"}
.ph-duotone.ph-chats-circle:before{content:"\e17e";opacity:.2}.ph-duotone.ph-chats-circle:after{content:"\e17f";margin-inline-start:-1em}
.ph.ph-chats-teardrop:before{content:"\e180"}
.ph-duotone.ph-chats-teardrop:before{content:"\e180";opacity:.2}.ph-duotone.ph-chats-teardrop:after{content:"\e181";margin-inline-start:-1em}
.ph.ph-check:before{content:"\e182"}
.ph-duotone.ph-check:before{content:"\e182";opacity:.2}.ph-duotone.ph-check:after{content:"\e183";margin-inline-start:-1em}
.ph.ph-check-circle:before{content:"\e184"}
.ph-duotone.ph-check-circle:before{content:"\e184";opacity:.2}.ph-duotone.ph-check-circle:after{content:"\e185";margin-inline-start:-1em}
.ph.ph-check-square:before{content:"\e186"}
.ph-duotone.ph-check-square:before{content:"\e186";opacity:.2}.ph-duotone.ph-check-square:after{content:"\e187";margin-inline-start:-1em}
.ph.ph-checks:before{content:"\e53a"}
.ph-duotone.ph-checks:before{content:"\e53a";opacity:.2}.ph-duotone.ph-checks:after{content:"\e53b";margin-inline-start:-1em}
.ph.ph-circle:before{content:"\e18a"}
.ph-duotone.ph-circle:before{content:"\e18a";opacity:.2}.ph-duotone.ph-circle:after{content:"\e18b";margin-inline-start:-1em}
.ph.ph-circle-dashed:before{content:"\e602"}
.ph-duotone.ph-circle-dashed:before{content:"\e602";opacity:.2}.ph-duotone.ph-circle-dashed:after{content:"\e603";margin-inline-start:-1em}
.ph.ph-clipboard-text:before{content:"\e198"}
.ph-duotone.ph-clipboard-text:before{content:"\e198";opacity:.2}.ph-duotone.ph-clipboard-text:after{content:"\e199";margin-inline-start:-1em}
.ph.ph-clock:before{content:"\e19a"}
.ph-duotone.ph-clock:before{content:"\e19a";opacity:.2}.ph-duotone.ph-clock:after{content:"\e19b";margin-inline-start:-1em}
.ph.ph-clock-countdown:before{content:"\ed2c"}
.ph-duotone.ph-clock-countdown:before{content:"\ed2c";opacity:.2}.ph-duotone.ph-clock-countdown:after{content:"\ed2d";margin-inline-start:-1em}
.ph.ph-clock-counter-clockwise:before{content:"\e1a0"}
.ph-duotone.ph-clock-counter-clockwise:before{content:"\e1a0";opacity:.2}.ph-duotone.ph-clock-counter-clockwise:after{content:"\e1a1";margin-inline-start:-1em}
.ph.ph-cloud-arrow-up:before{content:"\e1ae"}
.ph-duotone.ph-cloud-arrow-up:before{content:"\e1ae";opacity:.2}.ph-duotone.ph-cloud-arrow-up:after{content:"\e1af";margin-inline-start:-1em}
.ph.ph-code:before{content:"\e1bc"}
.ph-duotone.ph-code:before{content:"\e1bc";opacity:.2}.ph-duotone.ph-code:after{content:"\e1bd";margin-inline-start:-1em}
.ph.ph-coins:before{content:"\e78e"}
.ph-duotone.ph-coins:before{content:"\e78e";opacity:.2}.ph-duotone.ph-coins:after{content:"\e78f";margin-inline-start:-1em}
.ph.ph-compass:before{content:"\e1c8"}
.ph-duotone.ph-compass:before{content:"\e1c8";opacity:.2}.ph-duotone.ph-compass:after{content:"\e1c9";margin-inline-start:-1em}
.ph.ph-compass-tool:before{content:"\ea0e"}
.ph-duotone.ph-compass-tool:before{content:"\ea0e";opacity:.2}.ph-duotone.ph-compass-tool:after{content:"\ea0f";margin-inline-start:-1em}
.ph.ph-cookie:before{content:"\e6ca"}
.ph-duotone.ph-cookie:before{content:"\e6ca";opacity:.2}.ph-duotone.ph-cookie:after{content:"\e6cb";margin-inline-start:-1em}
.ph.ph-copy:before{content:"\e1ca"}
.ph-duotone.ph-copy:before{content:"\e1ca";opacity:.2}.ph-duotone.ph-copy:after{content:"\e1cb";margin-inline-start:-1em}
.ph.ph-crane:before{content:"\ed48"}
.ph-duotone.ph-crane:before{content:"\ed48";opacity:.2}.ph-duotone.ph-crane:after{content:"\ed4b";margin-inline-start:-1em}
.ph.ph-database:before{content:"\e1de"}
.ph-duotone.ph-database:before{content:"\e1de";opacity:.2}.ph-duotone.ph-database:after{content:"\e1df";margin-inline-start:-1em}
.ph.ph-device-mobile:before{content:"\e1e0"}
.ph-duotone.ph-device-mobile:before{content:"\e1e0";opacity:.2}.ph-duotone.ph-device-mobile:after{content:"\e1e1";margin-inline-start:-1em}
.ph.ph-device-mobile-camera:before{content:"\e1e2"}
.ph-duotone.ph-device-mobile-camera:before{content:"\e1e2";opacity:.2}.ph-duotone.ph-device-mobile-camera:after{content:"\e1e3";margin-inline-start:-1em}
.ph.ph-device-mobile-slash:before{content:"\ee46"}
.ph-duotone.ph-device-mobile-slash:before{content:"\ee46";opacity:.2}.ph-duotone.ph-device-mobile-slash:after{content:"\ee47";margin-inline-start:-1em}
.ph.ph-devices:before{content:"\eba4"}
.ph-duotone.ph-devices:before{content:"\eba4";opacity:.2}.ph-duotone.ph-devices:after{content:"\eba5";margin-inline-start:-1em}
.ph.ph-door:before{content:"\e61c"}
.ph-duotone.ph-door:before{content:"\e61c";opacity:.2}.ph-duotone.ph-door:after{content:"\e61d";margin-inline-start:-1em}
.ph.ph-door-open:before{content:"\e7e6"}
.ph-duotone.ph-door-open:before{content:"\e7e6";opacity:.2}.ph-duotone.ph-door-open:after{content:"\e7e7";margin-inline-start:-1em}
.ph.ph-dots-three-circle:before{content:"\e200"}
.ph-duotone.ph-dots-three-circle:before{content:"\e200";opacity:.2}.ph-duotone.ph-dots-three-circle:after{content:"\e201";margin-inline-start:-1em}
.ph.ph-download-simple:before{content:"\e20c"}
.ph-duotone.ph-download-simple:before{content:"\e20c";opacity:.2}.ph-duotone.ph-download-simple:after{content:"\e20d";margin-inline-start:-1em}
.ph.ph-drop:before{content:"\e210"}
.ph-duotone.ph-drop:before{content:"\e210";opacity:.2}.ph-duotone.ph-drop:after{content:"\e211";margin-inline-start:-1em}
.ph.ph-envelope-simple:before{content:"\e218"}
.ph-duotone.ph-envelope-simple:before{content:"\e218";opacity:.2}.ph-duotone.ph-envelope-simple:after{content:"\e219";margin-inline-start:-1em}
.ph.ph-envelope-simple-open:before{content:"\e21a"}
.ph-duotone.ph-envelope-simple-open:before{content:"\e21a";opacity:.2}.ph-duotone.ph-envelope-simple-open:after{content:"\e21b";margin-inline-start:-1em}
.ph.ph-eye:before{content:"\e220"}
.ph-duotone.ph-eye:before{content:"\e220";opacity:.2}.ph-duotone.ph-eye:after{content:"\e221";margin-inline-start:-1em}
.ph.ph-eye-slash:before{content:"\e224"}
.ph-duotone.ph-eye-slash:before{content:"\e224";opacity:.2}.ph-duotone.ph-eye-slash:after{content:"\e225";margin-inline-start:-1em}
.ph.ph-feather:before{content:"\e9c0"}
.ph-duotone.ph-feather:before{content:"\e9c0";opacity:.2}.ph-duotone.ph-feather:after{content:"\e9c1";margin-inline-start:-1em}
.ph.ph-file-arrow-down:before{content:"\e232"}
.ph-duotone.ph-file-arrow-down:before{content:"\e232";opacity:.2}.ph-duotone.ph-file-arrow-down:after{content:"\e233";margin-inline-start:-1em}
.ph.ph-file-code:before{content:"\e914"}
.ph-duotone.ph-file-code:before{content:"\e914";opacity:.2}.ph-duotone.ph-file-code:after{content:"\e915";margin-inline-start:-1em}
.ph.ph-file-csv:before{content:"\eb1c"}
.ph-duotone.ph-file-csv:before{content:"\eb1c";opacity:.2}.ph-duotone.ph-file-csv:after{content:"\eb1d";margin-inline-start:-1em}
.ph.ph-file-lock:before{content:"\e95c"}
.ph-duotone.ph-file-lock:before{content:"\e95c";opacity:.2}.ph-duotone.ph-file-lock:after{content:"\e95d";margin-inline-start:-1em}
.ph.ph-file-text:before{content:"\e23a"}
.ph-duotone.ph-file-text:before{content:"\e23a";opacity:.2}.ph-duotone.ph-file-text:after{content:"\e23b";margin-inline-start:-1em}
.ph.ph-file-zip:before{content:"\e958"}
.ph-duotone.ph-file-zip:before{content:"\e958";opacity:.2}.ph-duotone.ph-file-zip:after{content:"\e959";margin-inline-start:-1em}
.ph.ph-files:before{content:"\e710"}
.ph-duotone.ph-files:before{content:"\e710";opacity:.2}.ph-duotone.ph-files:after{content:"\e711";margin-inline-start:-1em}
.ph.ph-fingerprint:before{content:"\e23e"}
.ph-duotone.ph-fingerprint:before{content:"\e23e";opacity:.2}.ph-duotone.ph-fingerprint:after{content:"\e23f";margin-inline-start:-1em}
.ph.ph-first-aid:before{content:"\e56e"}
.ph-duotone.ph-first-aid:before{content:"\e56e";opacity:.2}.ph-duotone.ph-first-aid:after{content:"\e56f";margin-inline-start:-1em}
.ph.ph-first-aid-kit:before{content:"\e570"}
.ph-duotone.ph-first-aid-kit:before{content:"\e570";opacity:.2}.ph-duotone.ph-first-aid-kit:after{content:"\e571";margin-inline-start:-1em}
.ph.ph-flag-checkered:before{content:"\ea38"}
.ph-duotone.ph-flag-checkered:before{content:"\ea38";opacity:.2}.ph-duotone.ph-flag-checkered:after{content:"\ea39";margin-inline-start:-1em}
.ph.ph-flask:before{content:"\e79e"}
.ph-duotone.ph-flask:before{content:"\e79e";opacity:.2}.ph-duotone.ph-flask:after{content:"\e79f";margin-inline-start:-1em}
.ph.ph-floppy-disk:before{content:"\e248"}
.ph-duotone.ph-floppy-disk:before{content:"\e248";opacity:.2}.ph-duotone.ph-floppy-disk:after{content:"\e249";margin-inline-start:-1em}
.ph.ph-folder-lock:before{content:"\ea3c"}
.ph-duotone.ph-folder-lock:before{content:"\ea3c";opacity:.2}.ph-duotone.ph-folder-lock:after{content:"\ea3d";margin-inline-start:-1em}
.ph.ph-folder-open:before{content:"\e256"}
.ph-duotone.ph-folder-open:before{content:"\e256";opacity:.2}.ph-duotone.ph-folder-open:after{content:"\e257";margin-inline-start:-1em}
.ph.ph-folder-simple:before{content:"\e25a"}
.ph-duotone.ph-folder-simple:before{content:"\e25a";opacity:.2}.ph-duotone.ph-folder-simple:after{content:"\e25b";margin-inline-start:-1em}
.ph.ph-footprints:before{content:"\ea88"}
.ph-duotone.ph-footprints:before{content:"\ea88";opacity:.2}.ph-duotone.ph-footprints:after{content:"\ea89";margin-inline-start:-1em}
.ph.ph-frame-corners:before{content:"\e626"}
.ph-duotone.ph-frame-corners:before{content:"\e626";opacity:.2}.ph-duotone.ph-frame-corners:after{content:"\e627";margin-inline-start:-1em}
.ph.ph-funnel:before{content:"\e266"}
.ph-duotone.ph-funnel:before{content:"\e266";opacity:.2}.ph-duotone.ph-funnel:after{content:"\e267";margin-inline-start:-1em}
.ph.ph-gauge:before{content:"\e628"}
.ph-duotone.ph-gauge:before{content:"\e628";opacity:.2}.ph-duotone.ph-gauge:after{content:"\e629";margin-inline-start:-1em}
.ph.ph-gavel:before{content:"\ea32"}
.ph-duotone.ph-gavel:before{content:"\ea32";opacity:.2}.ph-duotone.ph-gavel:after{content:"\ea33";margin-inline-start:-1em}
.ph.ph-gear:before{content:"\e270"}
.ph-duotone.ph-gear:before{content:"\e270";opacity:.2}.ph-duotone.ph-gear:after{content:"\e271";margin-inline-start:-1em}
.ph.ph-gear-six:before{content:"\e272"}
.ph-duotone.ph-gear-six:before{content:"\e272";opacity:.2}.ph-duotone.ph-gear-six:after{content:"\e273";margin-inline-start:-1em}
.ph.ph-globe-simple:before{content:"\e28e"}
.ph-duotone.ph-globe-simple:before{content:"\e28e";opacity:.2}.ph-duotone.ph-globe-simple:after{content:"\e28f";margin-inline-start:-1em}
.ph.ph-graduation-cap:before{content:"\e62c"}
.ph-duotone.ph-graduation-cap:before{content:"\e62c";opacity:.2}.ph-duotone.ph-graduation-cap:after{content:"\e62d";margin-inline-start:-1em}
.ph.ph-hand-grabbing:before{content:"\e57c"}
.ph-duotone.ph-hand-grabbing:before{content:"\e57c";opacity:.2}.ph-duotone.ph-hand-grabbing:after{content:"\e57d";margin-inline-start:-1em}
.ph.ph-hand-heart:before{content:"\e810"}
.ph-duotone.ph-hand-heart:before{content:"\e810";opacity:.2}.ph-duotone.ph-hand-heart:after{content:"\e811";margin-inline-start:-1em}
.ph.ph-hand-palm:before{content:"\e57e"}
.ph-duotone.ph-hand-palm:before{content:"\e57e";opacity:.2}.ph-duotone.ph-hand-palm:after{content:"\e57f";margin-inline-start:-1em}
.ph.ph-hands-clapping:before{content:"\e6a0"}
.ph-duotone.ph-hands-clapping:before{content:"\e6a0";opacity:.2}.ph-duotone.ph-hands-clapping:after{content:"\e6a1";margin-inline-start:-1em}
.ph.ph-handshake:before{content:"\e582"}
.ph-duotone.ph-handshake:before{content:"\e582";opacity:.2}.ph-duotone.ph-handshake:after{content:"\e583";margin-inline-start:-1em}
.ph.ph-heartbeat:before{content:"\e2ac"}
.ph-duotone.ph-heartbeat:before{content:"\e2ac";opacity:.2}.ph-duotone.ph-heartbeat:after{content:"\e2ad";margin-inline-start:-1em}
.ph.ph-hourglass:before{content:"\e2b2"}
.ph-duotone.ph-hourglass:before{content:"\e2b2";opacity:.2}.ph-duotone.ph-hourglass:after{content:"\e2b3";margin-inline-start:-1em}
.ph.ph-hourglass-medium:before{content:"\e2b8"}
.ph-duotone.ph-hourglass-medium:before{content:"\e2b8";opacity:.2}.ph-duotone.ph-hourglass-medium:after{content:"\e2b9";margin-inline-start:-1em}
.ph.ph-house:before{content:"\e2c2"}
.ph-duotone.ph-house:before{content:"\e2c2";opacity:.2}.ph-duotone.ph-house:after{content:"\e2c3";margin-inline-start:-1em}
.ph.ph-house-line:before{content:"\e2c4"}
.ph-duotone.ph-house-line:before{content:"\e2c4";opacity:.2}.ph-duotone.ph-house-line:after{content:"\e2c5";margin-inline-start:-1em}
.ph.ph-house-simple:before{content:"\e2c6"}
.ph-duotone.ph-house-simple:before{content:"\e2c6";opacity:.2}.ph-duotone.ph-house-simple:after{content:"\e2c7";margin-inline-start:-1em}
.ph.ph-identification-badge:before{content:"\e6f6"}
.ph-duotone.ph-identification-badge:before{content:"\e6f6";opacity:.2}.ph-duotone.ph-identification-badge:after{content:"\e6f7";margin-inline-start:-1em}
.ph.ph-identification-card:before{content:"\e2c8"}
.ph-duotone.ph-identification-card:before{content:"\e2c8";opacity:.2}.ph-duotone.ph-identification-card:after{content:"\e2c9";margin-inline-start:-1em}
.ph.ph-image:before{content:"\e2ca"}
.ph-duotone.ph-image:before{content:"\e2ca";opacity:.2}.ph-duotone.ph-image:after{content:"\e2cb";margin-inline-start:-1em}
.ph.ph-info:before{content:"\e2ce"}
.ph-duotone.ph-info:before{content:"\e2ce";opacity:.2}.ph-duotone.ph-info:after{content:"\e2cf";margin-inline-start:-1em}
.ph.ph-key:before{content:"\e2d6"}
.ph-duotone.ph-key:before{content:"\e2d6";opacity:.2}.ph-duotone.ph-key:after{content:"\e2d7";margin-inline-start:-1em}
.ph.ph-laptop:before{content:"\e586"}
.ph-duotone.ph-laptop:before{content:"\e586";opacity:.2}.ph-duotone.ph-laptop:after{content:"\e587";margin-inline-start:-1em}
.ph.ph-leaf:before{content:"\e2da"}
.ph-duotone.ph-leaf:before{content:"\e2da";opacity:.2}.ph-duotone.ph-leaf:after{content:"\e2db";margin-inline-start:-1em}
.ph.ph-lifebuoy:before{content:"\e63a"}
.ph-duotone.ph-lifebuoy:before{content:"\e63a";opacity:.2}.ph-duotone.ph-lifebuoy:after{content:"\e63b";margin-inline-start:-1em}
.ph.ph-lightbulb:before{content:"\e2dc"}
.ph-duotone.ph-lightbulb:before{content:"\e2dc";opacity:.2}.ph-duotone.ph-lightbulb:after{content:"\e2dd";margin-inline-start:-1em}
.ph.ph-lightbulb-filament:before{content:"\e63c"}
.ph-duotone.ph-lightbulb-filament:before{content:"\e63c";opacity:.2}.ph-duotone.ph-lightbulb-filament:after{content:"\e63d";margin-inline-start:-1em}
.ph.ph-lightning:before{content:"\e2de"}
.ph-duotone.ph-lightning:before{content:"\e2de";opacity:.2}.ph-duotone.ph-lightning:after{content:"\e2df";margin-inline-start:-1em}
.ph.ph-link:before{content:"\e2e2"}
.ph-duotone.ph-link:before{content:"\e2e2";opacity:.2}.ph-duotone.ph-link:after{content:"\e2e3";margin-inline-start:-1em}
.ph.ph-link-break:before{content:"\e2e4"}
.ph-duotone.ph-link-break:before{content:"\e2e4";opacity:.2}.ph-duotone.ph-link-break:after{content:"\e2e5";margin-inline-start:-1em}
.ph.ph-list-checks:before{content:"\eadc"}
.ph-duotone.ph-list-checks:before{content:"\eadc";opacity:.2}.ph-duotone.ph-list-checks:after{content:"\eadd";margin-inline-start:-1em}
.ph.ph-list-magnifying-glass:before{content:"\ebe0"}
.ph-duotone.ph-list-magnifying-glass:before{content:"\ebe0";opacity:.2}.ph-duotone.ph-list-magnifying-glass:after{content:"\ebe1";margin-inline-start:-1em}
.ph.ph-list-numbers:before{content:"\e2f6"}
.ph-duotone.ph-list-numbers:before{content:"\e2f6";opacity:.2}.ph-duotone.ph-list-numbers:after{content:"\e2f7";margin-inline-start:-1em}
.ph.ph-list-plus:before{content:"\e2f8"}
.ph-duotone.ph-list-plus:before{content:"\e2f8";opacity:.2}.ph-duotone.ph-list-plus:after{content:"\e2f9";margin-inline-start:-1em}
.ph.ph-lock:before{content:"\e2fa"}
.ph-duotone.ph-lock:before{content:"\e2fa";opacity:.2}.ph-duotone.ph-lock:after{content:"\e2fb";margin-inline-start:-1em}
.ph.ph-lock-key:before{content:"\e2fe"}
.ph-duotone.ph-lock-key:before{content:"\e2fe";opacity:.2}.ph-duotone.ph-lock-key:after{content:"\e2ff";margin-inline-start:-1em}
.ph.ph-lock-key-open:before{content:"\e300"}
.ph-duotone.ph-lock-key-open:before{content:"\e300";opacity:.2}.ph-duotone.ph-lock-key-open:after{content:"\e301";margin-inline-start:-1em}
.ph.ph-lock-simple:before{content:"\e308"}
.ph-duotone.ph-lock-simple:before{content:"\e308";opacity:.2}.ph-duotone.ph-lock-simple:after{content:"\e309";margin-inline-start:-1em}
.ph.ph-magnifying-glass:before{content:"\e30c"}
.ph-duotone.ph-magnifying-glass:before{content:"\e30c";opacity:.2}.ph-duotone.ph-magnifying-glass:after{content:"\e30d";margin-inline-start:-1em}
.ph.ph-map-pin:before{content:"\e316"}
.ph-duotone.ph-map-pin:before{content:"\e316";opacity:.2}.ph-duotone.ph-map-pin:after{content:"\e317";margin-inline-start:-1em}
.ph.ph-map-pin-area:before{content:"\ee3a"}
.ph-duotone.ph-map-pin-area:before{content:"\ee3a";opacity:.2}.ph-duotone.ph-map-pin-area:after{content:"\ee3b";margin-inline-start:-1em}
.ph.ph-map-pin-line:before{content:"\e318"}
.ph-duotone.ph-map-pin-line:before{content:"\e318";opacity:.2}.ph-duotone.ph-map-pin-line:after{content:"\e319";margin-inline-start:-1em}
.ph.ph-map-trifold:before{content:"\e31a"}
.ph-duotone.ph-map-trifold:before{content:"\e31a";opacity:.2}.ph-duotone.ph-map-trifold:after{content:"\e31b";margin-inline-start:-1em}
.ph.ph-mask-happy:before{content:"\e9f4"}
.ph-duotone.ph-mask-happy:before{content:"\e9f4";opacity:.2}.ph-duotone.ph-mask-happy:after{content:"\e9f5";margin-inline-start:-1em}
.ph.ph-megaphone:before{content:"\e324"}
.ph-duotone.ph-megaphone:before{content:"\e324";opacity:.2}.ph-duotone.ph-megaphone:after{content:"\e325";margin-inline-start:-1em}
.ph.ph-minus:before{content:"\e32a"}
.ph-duotone.ph-minus:before{content:"\e32a";opacity:.2}.ph-duotone.ph-minus:after{content:"\e32b";margin-inline-start:-1em}
.ph.ph-minus-circle:before{content:"\e32c"}
.ph-duotone.ph-minus-circle:before{content:"\e32c";opacity:.2}.ph-duotone.ph-minus-circle:after{content:"\e32d";margin-inline-start:-1em}
.ph.ph-navigation-arrow:before{content:"\eade"}
.ph-duotone.ph-navigation-arrow:before{content:"\eade";opacity:.2}.ph-duotone.ph-navigation-arrow:after{content:"\eadf";margin-inline-start:-1em}
.ph.ph-paper-plane-right:before{content:"\e396"}
.ph-duotone.ph-paper-plane-right:before{content:"\e396";opacity:.2}.ph-duotone.ph-paper-plane-right:after{content:"\e397";margin-inline-start:-1em}
.ph.ph-paper-plane-tilt:before{content:"\e398"}
.ph-duotone.ph-paper-plane-tilt:before{content:"\e398";opacity:.2}.ph-duotone.ph-paper-plane-tilt:after{content:"\e399";margin-inline-start:-1em}
.ph.ph-password:before{content:"\e752"}
.ph-duotone.ph-password:before{content:"\e752";opacity:.2}.ph-duotone.ph-password:after{content:"\e753";margin-inline-start:-1em}
.ph.ph-path:before{content:"\e39c"}
.ph-duotone.ph-path:before{content:"\e39c";opacity:.2}.ph-duotone.ph-path:after{content:"\e39d";margin-inline-start:-1em}
.ph.ph-pause-circle:before{content:"\e3a0"}
.ph-duotone.ph-pause-circle:before{content:"\e3a0";opacity:.2}.ph-duotone.ph-pause-circle:after{content:"\e3a1";margin-inline-start:-1em}
.ph.ph-pen-nib:before{content:"\e3ac"}
.ph-duotone.ph-pen-nib:before{content:"\e3ac";opacity:.2}.ph-duotone.ph-pen-nib:after{content:"\e3ad";margin-inline-start:-1em}
.ph.ph-pencil-simple:before{content:"\e3b4"}
.ph-duotone.ph-pencil-simple:before{content:"\e3b4";opacity:.2}.ph-duotone.ph-pencil-simple:after{content:"\e3b5";margin-inline-start:-1em}
.ph.ph-person-arms-spread:before{content:"\ecfe"}
.ph-duotone.ph-person-arms-spread:before{content:"\ecfe";opacity:.2}.ph-duotone.ph-person-arms-spread:after{content:"\ecff";margin-inline-start:-1em}
.ph.ph-person-simple-walk:before{content:"\e73a"}
.ph-duotone.ph-person-simple-walk:before{content:"\e73a";opacity:.2}.ph-duotone.ph-person-simple-walk:after{content:"\e73b";margin-inline-start:-1em}
.ph.ph-phone:before{content:"\e3b8"}
.ph-duotone.ph-phone:before{content:"\e3b8";opacity:.2}.ph-duotone.ph-phone:after{content:"\e3b9";margin-inline-start:-1em}
.ph.ph-phone-call:before{content:"\e3ba"}
.ph-duotone.ph-phone-call:before{content:"\e3ba";opacity:.2}.ph-duotone.ph-phone-call:after{content:"\e3bb";margin-inline-start:-1em}
.ph.ph-pill:before{content:"\e700"}
.ph-duotone.ph-pill:before{content:"\e700";opacity:.2}.ph-duotone.ph-pill:after{content:"\e701";margin-inline-start:-1em}
.ph.ph-planet:before{content:"\e652"}
.ph-duotone.ph-planet:before{content:"\e652";opacity:.2}.ph-duotone.ph-planet:after{content:"\e653";margin-inline-start:-1em}
.ph.ph-play-circle:before{content:"\e3d2"}
.ph-duotone.ph-play-circle:before{content:"\e3d2";opacity:.2}.ph-duotone.ph-play-circle:after{content:"\e3d3";margin-inline-start:-1em}
.ph.ph-plugs:before{content:"\eb56"}
.ph-duotone.ph-plugs:before{content:"\eb56";opacity:.2}.ph-duotone.ph-plugs:after{content:"\eb57";margin-inline-start:-1em}
.ph.ph-plugs-connected:before{content:"\eb5a"}
.ph-duotone.ph-plugs-connected:before{content:"\eb5a";opacity:.2}.ph-duotone.ph-plugs-connected:after{content:"\eb5b";margin-inline-start:-1em}
.ph.ph-plus:before{content:"\e3d4"}
.ph-duotone.ph-plus:before{content:"\e3d4";opacity:.2}.ph-duotone.ph-plus:after{content:"\e3d5";margin-inline-start:-1em}
.ph.ph-plus-circle:before{content:"\e3d6"}
.ph-duotone.ph-plus-circle:before{content:"\e3d6";opacity:.2}.ph-duotone.ph-plus-circle:after{content:"\e3d7";margin-inline-start:-1em}
.ph.ph-printer:before{content:"\e3dc"}
.ph-duotone.ph-printer:before{content:"\e3dc";opacity:.2}.ph-duotone.ph-printer:after{content:"\e3dd";margin-inline-start:-1em}
.ph.ph-prohibit:before{content:"\e3de"}
.ph-duotone.ph-prohibit:before{content:"\e3de";opacity:.2}.ph-duotone.ph-prohibit:after{content:"\e3df";margin-inline-start:-1em}
.ph.ph-pulse:before{content:"\e000"}
.ph-duotone.ph-pulse:before{content:"\e000";opacity:.2}.ph-duotone.ph-pulse:after{content:"\e001";margin-inline-start:-1em}
.ph.ph-ranking:before{content:"\ed62"}
.ph-duotone.ph-ranking:before{content:"\ed62";opacity:.2}.ph-duotone.ph-ranking:after{content:"\ed63";margin-inline-start:-1em}
.ph.ph-recycle:before{content:"\e75a"}
.ph-duotone.ph-recycle:before{content:"\e75a";opacity:.2}.ph-duotone.ph-recycle:after{content:"\e75b";margin-inline-start:-1em}
.ph.ph-road-horizon:before{content:"\e838"}
.ph-duotone.ph-road-horizon:before{content:"\e838";opacity:.2}.ph-duotone.ph-road-horizon:after{content:"\e839";margin-inline-start:-1em}
.ph.ph-robot:before{content:"\e762"}
.ph-duotone.ph-robot:before{content:"\e762";opacity:.2}.ph-duotone.ph-robot:after{content:"\e763";margin-inline-start:-1em}
.ph.ph-scales:before{content:"\e750"}
.ph-duotone.ph-scales:before{content:"\e750";opacity:.2}.ph-duotone.ph-scales:after{content:"\e751";margin-inline-start:-1em}
.ph.ph-seal-check:before{content:"\e606"}
.ph-duotone.ph-seal-check:before{content:"\e606";opacity:.2}.ph-duotone.ph-seal-check:after{content:"\e607";margin-inline-start:-1em}
.ph.ph-seal-warning:before{content:"\e60c"}
.ph-duotone.ph-seal-warning:before{content:"\e60c";opacity:.2}.ph-duotone.ph-seal-warning:after{content:"\e60d";margin-inline-start:-1em}
.ph.ph-shield:before{content:"\e40a"}
.ph-duotone.ph-shield:before{content:"\e40a";opacity:.2}.ph-duotone.ph-shield:after{content:"\e40d";margin-inline-start:-1em}
.ph.ph-shield-check:before{content:"\e40c"}
.ph-duotone.ph-shield-check:before{content:"\e40c";opacity:.2}.ph-duotone.ph-shield-check:after{content:"\e40f";margin-inline-start:-1em}
.ph.ph-shield-slash:before{content:"\e410"}
.ph-duotone.ph-shield-slash:before{content:"\e410";opacity:.2}.ph-duotone.ph-shield-slash:after{content:"\e413";margin-inline-start:-1em}
.ph.ph-shield-star:before{content:"\ec34"}
.ph-duotone.ph-shield-star:before{content:"\ec34";opacity:.2}.ph-duotone.ph-shield-star:after{content:"\ec35";margin-inline-start:-1em}
.ph.ph-shield-warning:before{content:"\e412"}
.ph-duotone.ph-shield-warning:before{content:"\e412";opacity:.2}.ph-duotone.ph-shield-warning:after{content:"\e414";margin-inline-start:-1em}
.ph.ph-sign-in:before{content:"\e428"}
.ph-duotone.ph-sign-in:before{content:"\e428";opacity:.2}.ph-duotone.ph-sign-in:after{content:"\e429";margin-inline-start:-1em}
.ph.ph-sign-out:before{content:"\e42a"}
.ph-duotone.ph-sign-out:before{content:"\e42a";opacity:.2}.ph-duotone.ph-sign-out:after{content:"\e42b";margin-inline-start:-1em}
.ph.ph-signpost:before{content:"\e89c"}
.ph-duotone.ph-signpost:before{content:"\e89c";opacity:.2}.ph-duotone.ph-signpost:after{content:"\e89d";margin-inline-start:-1em}
.ph.ph-siren:before{content:"\e9b8"}
.ph-duotone.ph-siren:before{content:"\e9b8";opacity:.2}.ph-duotone.ph-siren:after{content:"\e9b9";margin-inline-start:-1em}
.ph.ph-sliders-horizontal:before{content:"\e434"}
.ph-duotone.ph-sliders-horizontal:before{content:"\e434";opacity:.2}.ph-duotone.ph-sliders-horizontal:after{content:"\e435";margin-inline-start:-1em}
.ph.ph-snowflake:before{content:"\e5aa"}
.ph-duotone.ph-snowflake:before{content:"\e5aa";opacity:.2}.ph-duotone.ph-snowflake:after{content:"\e5ab";margin-inline-start:-1em}
.ph.ph-speaker-high:before{content:"\e44a"}
.ph-duotone.ph-speaker-high:before{content:"\e44a";opacity:.2}.ph-duotone.ph-speaker-high:after{content:"\e44b";margin-inline-start:-1em}
.ph.ph-spinner:before{content:"\e66a"}
.ph-duotone.ph-spinner:before{content:"\e66a";opacity:.2}.ph-duotone.ph-spinner:after{content:"\e66b";margin-inline-start:-1em}
.ph.ph-squares-four:before{content:"\e464"}
.ph-duotone.ph-squares-four:before{content:"\e464";opacity:.2}.ph-duotone.ph-squares-four:after{content:"\e465";margin-inline-start:-1em}
.ph.ph-stack:before{content:"\e466"}
.ph-duotone.ph-stack:before{content:"\e466";opacity:.2}.ph-duotone.ph-stack:after{content:"\e467";margin-inline-start:-1em}
.ph.ph-stack-minus:before{content:"\edf4"}
.ph-duotone.ph-stack-minus:before{content:"\edf4";opacity:.2}.ph-duotone.ph-stack-minus:after{content:"\edf5";margin-inline-start:-1em}
.ph.ph-star:before{content:"\e46a"}
.ph-duotone.ph-star:before{content:"\e46a";opacity:.2}.ph-duotone.ph-star:after{content:"\e46b";margin-inline-start:-1em}
.ph.ph-stethoscope:before{content:"\e7ea"}
.ph-duotone.ph-stethoscope:before{content:"\e7ea";opacity:.2}.ph-duotone.ph-stethoscope:after{content:"\e7eb";margin-inline-start:-1em}
.ph.ph-student:before{content:"\e73e"}
.ph-duotone.ph-student:before{content:"\e73e";opacity:.2}.ph-duotone.ph-student:after{content:"\e73f";margin-inline-start:-1em}
.ph.ph-suitcase-rolling:before{content:"\e9b0"}
.ph-duotone.ph-suitcase-rolling:before{content:"\e9b0";opacity:.2}.ph-duotone.ph-suitcase-rolling:after{content:"\e9b1";margin-inline-start:-1em}
.ph.ph-text-aa:before{content:"\e6ee"}
.ph-duotone.ph-text-aa:before{content:"\e6ee";opacity:.2}.ph-duotone.ph-text-aa:after{content:"\e6ef";margin-inline-start:-1em}
.ph.ph-thermometer-hot:before{content:"\e5ca"}
.ph-duotone.ph-thermometer-hot:before{content:"\e5ca";opacity:.2}.ph-duotone.ph-thermometer-hot:after{content:"\e5cb";margin-inline-start:-1em}
.ph.ph-thermometer-simple:before{content:"\e5cc"}
.ph-duotone.ph-thermometer-simple:before{content:"\e5cc";opacity:.2}.ph-duotone.ph-thermometer-simple:after{content:"\e5cd";margin-inline-start:-1em}
.ph.ph-ticket:before{content:"\e490"}
.ph-duotone.ph-ticket:before{content:"\e490";opacity:.2}.ph-duotone.ph-ticket:after{content:"\e491";margin-inline-start:-1em}
.ph.ph-timer:before{content:"\e492"}
.ph-duotone.ph-timer:before{content:"\e492";opacity:.2}.ph-duotone.ph-timer:after{content:"\e493";margin-inline-start:-1em}
.ph.ph-traffic-cone:before{content:"\e9a8"}
.ph-duotone.ph-traffic-cone:before{content:"\e9a8";opacity:.2}.ph-duotone.ph-traffic-cone:after{content:"\e9a9";margin-inline-start:-1em}
.ph.ph-tram:before{content:"\e9ec"}
.ph-duotone.ph-tram:before{content:"\e9ec";opacity:.2}.ph-duotone.ph-tram:after{content:"\e9ed";margin-inline-start:-1em}
.ph.ph-translate:before{content:"\e4a2"}
.ph-duotone.ph-translate:before{content:"\e4a2";opacity:.2}.ph-duotone.ph-translate:after{content:"\e4a3";margin-inline-start:-1em}
.ph.ph-trash:before{content:"\e4a6"}
.ph-duotone.ph-trash:before{content:"\e4a6";opacity:.2}.ph-duotone.ph-trash:after{content:"\e4a7";margin-inline-start:-1em}
.ph.ph-tray:before{content:"\e4aa"}
.ph-duotone.ph-tray:before{content:"\e4aa";opacity:.2}.ph-duotone.ph-tray:after{content:"\e4ab";margin-inline-start:-1em}
.ph.ph-tray-arrow-down:before{content:"\e010"}
.ph-duotone.ph-tray-arrow-down:before{content:"\e010";opacity:.2}.ph-duotone.ph-tray-arrow-down:after{content:"\e011";margin-inline-start:-1em}
.ph.ph-tray-arrow-up:before{content:"\ee52"}
.ph-duotone.ph-tray-arrow-up:before{content:"\ee52";opacity:.2}.ph-duotone.ph-tray-arrow-up:after{content:"\ee53";margin-inline-start:-1em}
.ph.ph-trend-down:before{content:"\e4ac"}
.ph-duotone.ph-trend-down:before{content:"\e4ac";opacity:.2}.ph-duotone.ph-trend-down:after{content:"\e4ad";margin-inline-start:-1em}
.ph.ph-trend-up:before{content:"\e4ae"}
.ph-duotone.ph-trend-up:before{content:"\e4ae";opacity:.2}.ph-duotone.ph-trend-up:after{content:"\e4af";margin-inline-start:-1em}
.ph.ph-trophy:before{content:"\e67e"}
.ph-duotone.ph-trophy:before{content:"\e67e";opacity:.2}.ph-duotone.ph-trophy:after{content:"\e67f";margin-inline-start:-1em}
.ph.ph-user:before{content:"\e4c2"}
.ph-duotone.ph-user:before{content:"\e4c2";opacity:.2}.ph-duotone.ph-user:after{content:"\e4c3";margin-inline-start:-1em}
.ph.ph-user-check:before{content:"\eafa"}
.ph-duotone.ph-user-check:before{content:"\eafa";opacity:.2}.ph-duotone.ph-user-check:after{content:"\eafb";margin-inline-start:-1em}
.ph.ph-user-circle:before{content:"\e4c4"}
.ph-duotone.ph-user-circle:before{content:"\e4c4";opacity:.2}.ph-duotone.ph-user-circle:after{content:"\e4c5";margin-inline-start:-1em}
.ph.ph-user-circle-dashed:before{content:"\ec36"}
.ph-duotone.ph-user-circle-dashed:before{content:"\ec36";opacity:.2}.ph-duotone.ph-user-circle-dashed:after{content:"\ec37";margin-inline-start:-1em}
.ph.ph-user-circle-gear:before{content:"\e4c6"}
.ph-duotone.ph-user-circle-gear:before{content:"\e4c6";opacity:.2}.ph-duotone.ph-user-circle-gear:after{content:"\e4c7";margin-inline-start:-1em}
.ph.ph-user-focus:before{content:"\e6fc"}
.ph-duotone.ph-user-focus:before{content:"\e6fc";opacity:.2}.ph-duotone.ph-user-focus:after{content:"\e6fd";margin-inline-start:-1em}
.ph.ph-user-gear:before{content:"\e4cc"}
.ph-duotone.ph-user-gear:before{content:"\e4cc";opacity:.2}.ph-duotone.ph-user-gear:after{content:"\e4cd";margin-inline-start:-1em}
.ph.ph-user-minus:before{content:"\e4ce"}
.ph-duotone.ph-user-minus:before{content:"\e4ce";opacity:.2}.ph-duotone.ph-user-minus:after{content:"\e4cf";margin-inline-start:-1em}
.ph.ph-user-plus:before{content:"\e4d0"}
.ph-duotone.ph-user-plus:before{content:"\e4d0";opacity:.2}.ph-duotone.ph-user-plus:after{content:"\e4d1";margin-inline-start:-1em}
.ph.ph-users:before{content:"\e4d6"}
.ph-duotone.ph-users:before{content:"\e4d6";opacity:.2}.ph-duotone.ph-users:after{content:"\e4d7";margin-inline-start:-1em}
.ph.ph-users-four:before{content:"\e68c"}
.ph-duotone.ph-users-four:before{content:"\e68c";opacity:.2}.ph-duotone.ph-users-four:after{content:"\e68d";margin-inline-start:-1em}
.ph.ph-users-three:before{content:"\e68e"}
.ph-duotone.ph-users-three:before{content:"\e68e";opacity:.2}.ph-duotone.ph-users-three:after{content:"\e68f";margin-inline-start:-1em}
.ph.ph-video-camera-slash:before{content:"\e4dc"}
.ph-duotone.ph-video-camera-slash:before{content:"\e4dc";opacity:.2}.ph-duotone.ph-video-camera-slash:after{content:"\e4dd";margin-inline-start:-1em}
.ph.ph-warning:before{content:"\e4e0"}
.ph-duotone.ph-warning:before{content:"\e4e0";opacity:.2}.ph-duotone.ph-warning:after{content:"\e4e1";margin-inline-start:-1em}
.ph.ph-warning-circle:before{content:"\e4e2"}
.ph-duotone.ph-warning-circle:before{content:"\e4e2";opacity:.2}.ph-duotone.ph-warning-circle:after{content:"\e4e3";margin-inline-start:-1em}
.ph.ph-warning-octagon:before{content:"\e4e4"}
.ph-duotone.ph-warning-octagon:before{content:"\e4e4";opacity:.2}.ph-duotone.ph-warning-octagon:after{content:"\e4e5";margin-inline-start:-1em}
.ph.ph-waves:before{content:"\e6de"}
.ph-duotone.ph-waves:before{content:"\e6de";opacity:.2}.ph-duotone.ph-waves:after{content:"\e6df";margin-inline-start:-1em}
.ph.ph-wheelchair:before{content:"\e4e8"}
.ph-duotone.ph-wheelchair:before{content:"\e4e8";opacity:.2}.ph-duotone.ph-wheelchair:after{content:"\e4e9";margin-inline-start:-1em}
.ph.ph-wifi-high:before{content:"\e4ea"}
.ph-duotone.ph-wifi-high:before{content:"\e4ea";opacity:.2}.ph-duotone.ph-wifi-high:after{content:"\e4eb";margin-inline-start:-1em}
.ph.ph-wifi-slash:before{content:"\e4f2"}
.ph-duotone.ph-wifi-slash:before{content:"\e4f2";opacity:.2}.ph-duotone.ph-wifi-slash:after{content:"\e4f3";margin-inline-start:-1em}
.ph.ph-wrench:before{content:"\e5d4"}
.ph-duotone.ph-wrench:before{content:"\e5d4";opacity:.2}.ph-duotone.ph-wrench:after{content:"\e5d5";margin-inline-start:-1em}
.ph.ph-x:before{content:"\e4f6"}
.ph-duotone.ph-x:before{content:"\e4f6";opacity:.2}.ph-duotone.ph-x:after{content:"\e4f7";margin-inline-start:-1em}
.ph.ph-x-circle:before{content:"\e4f8"}
.ph-duotone.ph-x-circle:before{content:"\e4f8";opacity:.2}.ph-duotone.ph-x-circle:after{content:"\e4f9";margin-inline-start:-1em}
